<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<STYLE TYPE="text/css">
	<!--
		@page { margin: 2cm }
		P { margin-bottom: 0.21cm }
		H1 { margin-bottom: 0.21cm }
		H1.western { font-family: "Arial", sans-serif; font-size: 16pt }
		H1.cjk { font-family: "Lucida Sans Unicode"; font-size: 16pt }
		H1.ctl { font-family: "Tahoma"; font-size: 16pt }
	-->
	</STYLE>
</HEAD>

<BODY LANG="ru-RU" DIR="LTR">
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<H1 CLASS="western">Статистика использования МТР.</H1>
<P>За период:</P>
От {Start Date} до {End Date}
<br><br>
<table border="1">
